<!-- Display question details -->
<!--<div data-bind="with:question">
    <div>
        Body <span data-bind="text: body"></span>
    </div>
</div>-->
<!-- Display answers -->
<!--<div data-bind="foreach: answers">
    <div data-bind="text: body"> </div>
</div>-->

<div class="container-fluid">
    <h1 class="text-center">Question Details</h1>

    <div class="row">
        <div class="list-group  col-lg-6">
            <h2>Question</h2>
            <div class="card"  data-bind="with: question">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-center">
                        <h5 class="card-title" data-bind="text: $data.title"></h5>
                    </div>

                    <p class="card-text" data-bind="text: $data.body"></p>
                </div>
            </div>
            <!--<ul data-bind="with: question">
                <li data-bind="text: $data.body"></li>
            </ul>-->
            <h2>Answers</h2>
            <div class="list-group" data-bind="foreach: answers">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100">
                        <small>Score: </small>
                        <small data-bind="text: score"></small>
                    </div>
                    <p class="mb-1" data-bind="text: body"></p>
                </a>
                <!--<ul data-bind="foreach: answers">
                    <li>
                        <span data-bind="text: body"></span>
                    </li>
                </ul>-->
            </div>
        </div>
        <div class="list-group  col-lg-6">
            <h2>Take notes</h2>
            <div class="input-group">
                <textarea class="form-control" aria-label="Write notes" rows="20" cols="50" data-bind="value: noteText"></textarea>
            </div>
            <button class="btn-dark" data-bind="click:saveNote">Save note</button>
            <h2>Question marking</h2>
            <button class="btn-outline-primary" data-bind="hidden:marked, click:markQuestion">Mark</button>
            <button class="btn-outline-danger" data-bind="visible:marked, click:unmarkQuestion">Unmark</button>
        </div>
    </div>
</div>