<div class="container" data-bind="visible: $root.showLogin">
    <div class="col col-sm-4 align-self-center">
        <form data-bind="submit: loginSubmit">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" data-bind="value: email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="passInput">Password</label>
                <input type="password" data-bind="value: password" class="form-control" id="passInput" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" data-bind="click: $root.changeComponent;" class="btn btn-success">Sign up</button>
        </form>
    </div>
</div>